<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Wongnok รวมเมนูสูตรอาหาร</title>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link href="../static/css/css-login.css" rel="stylesheet">
         
    <!--<title>Login & Registration Form</title>-->
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">ลงชื่อเข้าใช้</span>

                <form action="{{ url_for('login')}}" method="POST" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <div class="input-field">
                        <input type="text" name="email" placeholder="กรอกอีเมล" class="textbox" id="email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" placeholder="กรอกรหัสผ่าน" class="password" id="password" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <!-- <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">จดจำการเข้าใช้</label>
                        </div>
                        
                        <a href="#" class="text">ลืมรหัสผ่าน?</a>
                    </div> -->

                    <div class="input-field button">
                        <input type="submit" value="ลงชื่อเข้าใช้">
                    </div>
                    
                </form>

                <div class="login-signup">
                    <span class="text">ยังไม่ได้เป็นสมาชิก?
                        <a href="{{ url_for('register')}}" class="text">ลงทะเบียน</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/js-login.js"></script>
</body>
</html>